html {
    max-width: 100%;
    max-height: 100%;

    overflow: hidden;
 }

header{
    background-color:#1C1C1B;
    height: 70px;
    width: 100vw;
    max-width: 100%;
    font-size: 24px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    -webkit-animation: slide 3s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 3s forwards;
    animation-delay: 2s;
}

header div{
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Gentium Plus', serif;
    color: #E9E5DE;
}

.img_logo_outline{
    float: left;
    height: 90%;
    margin-top: 7px;
    padding-left: 14px;
}

.miembro_icono{
    float: right;
    margin-top: 10px;
    padding-right: 14px;
}

/*-----------------estilos agregados---------------------*/

ul, ol {
    list-style:none;
}

.nav > li {
    float:right;
    margin-top: 25px;
    margin-right: 10px;
    display: inline;
}

.nav .miembro_icono {
    float: right;
    margin-top: -15px;
    margin-left: 15px;
}

.nav li a {
    background-color:#1C1C1B;
    color:#E9E5DE;
    text-decoration:none;
    padding:20px 20px;
    display:block;
    position: relative;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:relative;
    min-width:200px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right: -140px;
    top:20px;
}
/*-----------------------------------------------*/

.p_Titulo {
    display: inline;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

body{
    font-family: 'Gentium Plus', serif;
    background-color:#1C1C1B;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

.home_BG{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home_BG2{
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    animation: fadeBG 9s 3s infinite;
    -webkit-animation: fadeBG 9s 3s infinite;
    z-index: -1;
}

.header_nav_login {
    display: inline;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.form_datos{
    background-color: #1C1C1B;
    border-radius: 20px;
    width: 630px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    display: grid;
    text-align: center;
    grid-auto-rows: 40px;
    vertical-align: middle;
    overflow-y: scroll;
}

.form_vincular{
    border-radius: 20px;
    width: 50px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(300%, 23%);
    display: grid;
    text-align: center;
    grid-auto-rows: 40px;
    vertical-align: middle;
}

.form_trayectos::-webkit-scrollbar-thumb {
    background: #E9E5DE;
    border-radius: 5px;
}

.form_trayectos::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

.form_titulo_tr {
    font-size: 35px;
    text-align: left;
    margin-left: 50px;
    font-weight: 700;
    margin-top: 20px;
    color: #E9E5DE;
}

.container_buttons{
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.dato {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    margin-top: 17px;
    margin-left: 50px;
    margin-right: 50px;
    color: #E9E5DE;
    display: block;
    border-bottom: #E9E5DE 1px solid;
}

.subtitulo {
    font-size: 25px;
    text-align: left;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 50px;
    color: #E9E5DE;
}

.container_vinculacion .button_vincular {
    font-family: 'Gentium Plus', serif;
    width: 450px;
    border-radius: 70px;
    border:#1C1C1B 3px solid;
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
    color: #1C1C1B;
    background-color: #E9E5DE;
    height: 65px;
}

.container_vinculacion {
    text-align: left;
    display: flex;
}

.button_add_sector {
    width: 62px;
    height: 15px;
    border-radius: 15px;
    border:#E9E5DE 1px solid;
    font-size: 15px;
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    color: #E9E5DE;
    background-color: #1C1C1B;
    padding: 7px;
}

@-webkit-keyframes slide {
    0%{top: -60px;}
    100% { top: 0px; }
}

@keyframes slide {
    0%{top: -60px;}
    100% { top: 0; }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeBG {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeBG {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}