<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Calculadora de Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="" name="Home">
            <img class="img_logo_outline" src="img/logo_outline.png"
             onmouseover="this.src='img/logo_relleno.png'"
             onmouseout="this.src='img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <nav class="header_nav">
                <ul>
                    <a href="/login/miembro" class="home_Btn"><li>Miembro</li></a>
                    <a href="/login/organizacion" name="Organizacion" class="home_Btn"><li>Organizacion</li></a>
                </ul>
            </nav>

        </div>
        
    </header>
    <div class="div_body">
        <img class = "home_BG" src="img/home_bg.png" alt="Fondo">
        <img class = "home_BG2" src="img/home_bg2.png" alt="Fondo2">
        <img class ="logo_Body" src="img/logo_home.png" alt="Logo_Body">
        <h1 class="titulo_Body">Sistema Nacional <br>Huella de Carbono</br> </h1>
    </div>

</body>

</html>
