<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/" name="Home">
            <img class="img_logo_outline" src="/img/logo_outline.png"
             onmouseover="this.src='/img/logo_relleno.png'"
             onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <img class="org_icono" src="/img/organizacion_icon.png" alt="organizacion_icono">
            <nav class="header_nav_login">
                <ul>
                    <li>Miembro</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/org_login_bg.png" alt="Fondo">
        <img class = "home_BG2" src="/img/org_login_bg2.png" alt="Fondo2">
        <div class = "form_container">
           <!-- <form class = "form_register" action="/miembros/" method="post">-->
            <form class = "form_register">
            <div class="form_titulo">
                <h1>ORGANIZACION GENERADA</h1>
                <h1>CON EXITO</h1>
                </div>
                <div class="form_btns">
                    <ul>
                        <a href="/" name="RegistrarMiembro"  class="home_Btn2" ><li>ACEPTAR</li></a>
                    </ul>
                </div>
            </form>

        </div>
    </div>

</body>

</html>
