<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/registrar_miembro.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos_registro_miembro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/" name="Home">
                <img class="img_logo_outline" src="/img/logo_outline.png"
                 onmouseover="this.src='/img/logo_relleno.png'"
                 onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <img class="org_icono" src="/img/miembro_icon.png" alt="organizacion_icono">
            <nav class="header_nav_login">
                <ul>
                    <li>Registrar Miembro</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/miembro_reg_bg.png" alt="Fondo">
        <img class = "home_BG2" src="/img/miembro_reg_bg2.png" alt="Fondo2">
        <div class = "form_container">
            <form  class = "form_register" action='/registrar/exitoMiembro'  method="post">
                <div class="form_titulo_reg">
                <h1>REGISTRAR MIEMBRO</h1>
                </div>  

                <input class = "text_input_reg" type="text" id="usuario" name="usuario" value="" onchange="verificarUsuario()" placeholder="USUARIO" required>
                <input class = "text_input_reg" type="password" name="contrasenia" value="" placeholder="CONTRASEÑA" required>

                <input class = "text_input_reg" type="text" name="nombre" value="" placeholder="NOMBRE" required>
                <input class = "text_input_reg" type="text" name="apellido" value="" placeholder="APELLIDO" required>

                <select class="options_reg" name="tipoDocumento" required>
                    <option class="option" value="DNI">DNI</option>
                    <option class="option" value="PASAPORTE">PASAPORTE</option>
                    <option class="option" value="LIBRETADEENROLAMIENTO">LIBRETA DE ENROLAMIENTO</option>
                    <option class="option" value="LIBRETACIVICA">LIBRETA CIVICA</option>
                </select>

                <input class = "text_input_reg" type="text" name="nroDocumento" value="" placeholder="NUMERO" required>

                <input class = "text_input_reg" type="text" name="telefono" value="" placeholder="TELEFONO" required>
                <input class = "text_input_reg" type="text" name="email" value="" placeholder="EMAIL" required>

                <div class="form_subtitulo_reg">
                    <h1>UBICACION</h1>
                </div>  

                <input class = "text_input_reg" type="text" name="calle" value="" placeholder="DIRECCION" required>
                <input class = "text_input_reg" type="text" name="altura" value="" placeholder="ALTURA" required>

                <div class="form_subtitulo_reg">
                    <p>Provincia: </p>

                <select class="options_reg" id="provinciaSel" name="provincia" required>
                        {{#each provincia}}
                        <option class="option" value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                </select>

                <p> Municipio: </p>
                <select class="options_reg" id="muniSel" name="municipio" required>
                    {{#each provincia.[0].municipios}}
                    <option value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>

                </div>

                <div class="form_subtitulo_reg">
                <!--<button type="button" id="registrarBtn" class="crear" onclick="verificarUsuario()">Crear</button>-->
                <input id="registrarBtn" class = "crear" type="submit" value="CREAR">
                </div>
            </form>

        </div>
    </div>



</body>

<!-- ================= MODAL ELIMINACION ================== -->
<div class="modalMismoUsuario modal" id="modalUsuario">
    <div class="modalContent">
        <input type="hidden" value="" id="userId">
        <h1>Usuario ocupado, cambialo perro</h1>
        <div>
        <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
        <br>
    </div>
</div>
<!-- ================= FIN MODAL ELIMINACION ================== -->


</html>
<script src="/js/provinciasSelect.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>